<!DOCTYPE html>
<html>
    <head>
        <title>Robotic Hand</title>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="page">
            <div class="header">
                <h1>Robotic Hand</h1>
            </div>
            <div class="navigation">
            </div>
            <div class="page">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        <div class="footer">
            &copy 2016 Milos Zivlak, Pavle Kukavica, Milan Prica
        </div>
    </body>
</html>

